.welcome{
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.left{
    /* display: block; */
    display: flex;
height: 300px;
width:700px;
position: relative;
align-items: center;
justify-content: center;
background-image: url('./IMG/success.png');
background-repeat: no-repeat;
}

.right{
    /* display: inline; */
    display: flex;
    height: 500px;
    flex-direction: column;
    width:800px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-image: url('./IMG/right.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}