.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(119, 119, 230);

}
.logo{
    background-image: url('./rank.jpg');
    height: 51px;
    width: 51px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;

}
.n-left{
    flex:1;
    align-items: center;
    display: flex;
    gap: 2rem;
    margin-left: 10px;
    color: rgb(5, 251, 5);
}

.n-name{
    font-size: 1.3rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 25%;
    color:red;
    padding: 5px;
    background-color: rgb(229, 229, 146);
}
.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}
.n-list{
    flex: 10;
    
}
.n-list>ul{
  
    list-style-type: none;
    display: flex;
    gap: 3rem;
    margin-right: 4rem;
    cursor: pointer;
}

li:hover{
    cursor: pointer;
    background-color: green;
}
li{
    color: black;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    position: relative;
    background-color: rgb(0, 255, 200);
    top: 10px;
}

a{
    padding: 5px;
    text-decoration: none;
}
.n-button{
    flex: 2;
}

@media screen and (max-width:480px) {
    .n-list{
        display: none;
    }
    .n-button{
        display: none;
    }
}