@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 2px;
    border:none;
    position: absolute;
    width: 138px;
    height: 48px;
    top: 21px;
    right: 215px;
    background: linear-gradient(360deg, #52A49A -65.93%, #00CDAC 100%);
    border-radius: 80px;
}

.l-img{
position: absolute;
width: 24px;
height: 24px;
left: 22px;
top: 10px;
background: url(./IMG/frame.png);
}
.login :nth-child(2){
    
width: 48px;
height: 24px;
position: relative;
left: 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
text-align: center;
letter-spacing: -0.01em;
color: #FFFFFF;
}

